@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the LDS movie database!</h1>
    <p>Here, you can view and store information about movies themed around the Church of Jesus Christ of Latter Day Saints.</a>.</p>
</div>
